<h1 style="color: lightcoral">Cart Details</h1>
<div *ngIf="products">
  <h2 style="color: darkblue">{{products.name}}</h2>
  <div class="cart-item" *ngFor="let item of items">
    <h2><span>{{ item.name }}</span> </h2>
    <h2><span>{{ item.price | currency }}</span></h2>
    <h2><span>{{ item.quantity}}</span></h2>
    <h2><span>{{item.price * item.quantity}}</span></h2>
    <h2><span> <button class="btn btn-primary" (click)="removeToCart(item)">Remove</button></span></h2>
  </div>
  <div><h1>Total:{{total}}</h1></div>
